.footer {
  background: var(--vanila-bg);
  padding: 80px 0;
  &__grid {
    display: flex;
    justify-content: space-between;

  }
  &__logo {
    display: block;
    width: 150px;
    height: auto;
    &-img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
  &__nav, &__contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__title {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 2.16px;
    text-transform: uppercase;
  }
  &__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 10px;
    li, a {
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; 
      transition: all 0.3s ease;
      &:hover {
        color: var(--accent-color-dark);
      }
    }
  }
  &__up {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    span {
      writing-mode: sideways-lr; /* или vertical-lr */
      text-orientation: mixed;   /* чтобы буквы оставались читаемыми */
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      letter-spacing: 2.16px;
      text-transform: uppercase;
    }
  }
  &__to-top {
    width: 55px;
    height: 55px;
    padding: 0;
    svg {
      width: 20px;
      height: 20px;
      path {
        transition: all 0.3s ease;
        color: var(--accent-color);
      }
    }
    &:hover {
      svg path {
        color: var(--accent-color-dark);
      }
    }
  }
  &__callback {
    display: flex;
    flex-direction: column;
    gap: 27px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__field {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  &__input {
    font-family: Ubuntu;
    text-align: right;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    padding: 10px;
    width: 100%;
    border: none;
    background: transparent;
    border-bottom: 1px solid var(--accent-color);
    &::placeholder {
      text-align: right;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; 
      opacity: .7;
    }
    &:focus {
      outline: none;
      border-bottom: 1px solid var(--accent-color-dark);
    }
  }
  &__submit {
    margin-top: 27px;
    padding: 8px 24px;
    font-size: 12px;
    line-height: 24px;
  }
  &__legal {
    margin-top: 30px;
    p {
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }
  }
  &__policy {
    font-size: 15px;
    
  }
}

@media (max-width: 1024px) {
  .footer {
    &__grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 40px 20px;
    }
    &__callback {
      grid-column: span 2;
      align-items: flex-end;
    }
    &__form {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 40px 0;
    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }
    &__logo {
      width: 100px;
      height: 100px;
      order: -2;
    }
    &__up {
      order: -1;
      flex-direction: row;
      justify-content: center;
      span { display: none;}
    }
    &__title {
      font-size: 12px;
      letter-spacing: 1.44px;
    }
    &__list {
      gap: 12px;
      padding: 0;
      li, a {
        font-size: 11px;
        line-height: 18px; 
      }
    }
    &__input {
      text-align: left;
      font-size: 12px;
      line-height: 18px;
      padding: 6px 8px;
      &::placeholder {
        text-align: left;
        font-size: 11px;
        line-height: 18px; 
      }
    }
    &__submit {
      margin-top: 10px;
      font-size: 11px;
      padding: 6px 20px;
    }
    &__legal {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      p {
        font-size: 11px;
        line-height: 18px;
      }
    }
    &__policy {
      font-size: 11px;
      line-height: 18px;
      text-align: right;
    }
    &__callback {
      align-items: flex-start;
    }
    &__form {
      align-items: flex-start;
    }
  }
}