.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  backdrop-filter: blur(5px);
  & > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  &__logo {
    height: 84px;
    width: auto;
    &-img {
      height: 100%;
      width: auto;
      object-fit: contain;
    }
  }
  &__menu {
    &-list {
      display: flex;
      list-style-type: none;
    }
    &-link {
      display: block;
      padding: 30px 15px;
      font-size: 15px;
      line-height: 24px;
      transition: all 0.3s ease;
      &:hover {
        color: var(--text-color-light);
        background-color: var(--accent-color);
      }
    }
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &-time {
      font-size: 12px;
      line-height: 24px;
      display: flex;
      align-items: center;
      gap: 5px;
      &::before {
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: var(--accent-color-dark);
      }
    }
    &-phone {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px; 
    }
  }
  &__burger {
    display: none;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    svg {
      line {
        stroke: var(--accent-color);
      }
    }
  }
  .mobile {
    display: none;
  }

}

@media (max-width: 1024px) {
  .header {
    &__logo {
      height: 64px;
    }
    &__menu {
      &-link {
        padding: 20px 10px;
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
     &__menu {
      position: absolute;
      right: 0; top: 0;
      width: 90vw; height: 100vh;
      background: var(--vanila-bg);
      display: flex; flex-direction: column; gap: 20px;
      box-shadow: -4px 0 15px rgba(0,0,0,.1);
      transform: translateX(100%);
      transition: transform .45s ease;
      z-index: 1001;

      &.active { transform: translateX(0); }

      &-list   { flex-direction: column; }
      &-item   { border-bottom: 1px solid var(--text-color); }
      &-link   { padding: 20px 30px; }
    }
    &__burger { display: block; }
    .desktop  { display: none; }
    .mobile   { display: flex; }

    &__overlay{
      position: fixed; 
      width: 100vw;
      height: 100vh;
      top: 0; left: 0;
      background: rgba(0,0,0,.30);
      opacity: 0; pointer-events: none; 
      transition: opacity .3s ease;
      z-index: 1000;                   
      display: block;                  
    }
    &__overlay.active{
      opacity: 1;
      pointer-events: auto;            
    }

    &__contacts { align-items: center; }

    &__close{
      position: absolute; right: 0; top: 0;
      width: 64px; height: 64px; padding: 15px;
      background: 0; border: 0; outline: none;
      border-left: 1px solid var(--text-color);
      svg{ width: 100%; height: 100%; object-fit: contain; }
    }

  }
  
}